<ui-gmap-google-map center="swbMap.center" zoom="swbMap.zoom" options="options">
  <ui-gmap-marker coords="marker2.coords" options="marker2.options" idkey="marker2.id">
  </ui-gmap-marker>
</ui-gmap-google-map>
<!--
<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=%EC%B6%A9%EC%B2%AD%EB%82%A8%EB%8F%84%20%ED%83%9C%EC%95%88%EA%B5%B0%20%EC%95%88%EB%A9%B4%EC%9D%8D%20%EC%B0%BD%EA%B8%B0%EB%A6%AC%20%EC%82%BC%EB%B4%89%ED%95%B4%EC%88%98%EC%9A%95%EC%9E%A5&key=AIzaSyBzQgnK9ZApXlzZyKuQRq02hasCZ9BQzx4"></iframe>
-->
