<div class="home row">

  <div class="col-sm-10 col-sm-offset-1 row">
    <div class="col-md-8">
      <h3>Where and When</h3>
      <p>Korea Burn is pleased to announce that our 2015 Burn will be in Anmyeon-do, July 15 through July 17.</p>
      <p>SOAK* is the Regional Burning Man Gathering for Portland and Western Oregon. SOAK* is a multi-day interactive
        arts festival and family reunion-style camping event in Oregon with sprawling grassy lawns, and diverse trails.
        This is a place to meet your fellow Burners and get a taste of Burning Man Northwest style. SOAK* features
        participation, fire performances, art, DJs and live music, a pageant, theme camps, workshops, Portland Temple
        and Ceremonial Burnable Sculptures. Anyone can participate.</p>
    </div>
    <div class="col-md-4">
      <h3>Reserve your spot today!</h3>
      <button id="hey" class="btn btn-lg btn-success" ng-href="#/tickets">Sign up here</button>
    </div>
  </div>


  <div class="col-sm-12 hidden-xs cd-fixed-bg cd-bg-1"><div class="bg-overlay text-center"><h3>Hey there you!</h3></div></div>


  <div class="col-sm-10 col-sm-offset-1 row text-center">
    <swb-news-feed swb-class="col-md-4" swb-limit="4">

    </swb-news-feed>
    <div class="col-md-4">
      <h3>Event Performances</h3>
      <p>
        """MAYBE CONSIDER TURNING THIS SPOT OVER TO THE 10 PRINCIPLES"""
        The event performances will include: Fire dancers, belly dancers, jugglers, basket weaving,
        minor outlying jibber-jabber frizzle frazzles... where am I going with this.
      </p>
    </div>
    <div class="col-md-4">
      <div class="row top20 bottom20">
        <a class="col-xs-3" href="https://www.facebook.com/"><img class="img-responsive" src="images/icons/social/fb.png" alt="Facebook icon"/></a>
        <a class="col-xs-3" href="https://www.twitter.com/"><img class="img-responsive" src="images/icons/social/twitter.png" alt="Twitter icon"/></a>
        <a class="col-xs-3" href="https://www.instagram.com/"><img class="img-responsive" src="images/icons/social/instagram.png" alt="Instagram icon"/></a>
        <a class="col-xs-3" href="https://plus.google.com/"><img class="img-responsive" src="images/icons/social/google+.png" alt="Google Plus icon"/></a>
      </div>
    </div>
  </div>


  <div class="col-sm-12 hidden-xs cd-fixed-bg cd-bg-2"><div class="bg-overlay text-center"><h3>Hey there you!</h3></div></div>


  <div class="col-sm-10 col-sm-offset-1 row">
    <swb-schedule swb-class="col-md-4 text-center"></swb-schedule>
  </div>


  <div class="col-sm-12 hidden-xs cd-fixed-bg cd-bg-3"><div class="bg-overlay text-center"><h3>Hey there you!</h3></div></div>


  <div class="col-sm-10 col-sm-offset-1 row bg-info">
    <div class="col-md-6">
      <swb-carousel swb-url="data/main-carousel.json"></swb-carousel>
    </div>
    <div class="col-md-6">
      <swb-countdown class="col-md-6" swb-time="'Jul, 09, 2015'"></swb-countdown>
    </div>
  </div>


  <div class="col-sm-12 hidden-xs cd-fixed-bg cd-bg-4"><div class="bg-overlay text-center"><h3>Hey there you!</h3></div></div>


  <div class="col-sm-10 col-sm-offset-1 row bg-success">
    <div class="col-md-offset-3 text-center col-md-6">
      <h3>Join Us</h3>
      <p>Learn more about how you can participate in Korea Burn</p>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>


  <div class="col-sm-12 hidden-xs cd-fixed-bg  cd-bg-5"><div class="bg-overlay text-center"><h3>Hey there you!</h3></div></div>


  <div class="col-sm-10 col-sm-offset-1 row bg-primary">
    <div class="col-md-8">
      <swb-gmap id="map-canvas" swb-url="data/map.json"></swb-gmap>
    </div>
    <div class="col-md-3">
      <h3>Contact Us</h3>
      <swb-mailchimp swb-data="mailchimpData"></swb-mailchimp>
      <p>Don't worry about any complications :) We'll answer all you questions here!</p>
    </div>
  </div>


  <div class="col-sm-12 hidden-xs cd-fixed-bg  cd-bg-6"><div class="bg-overlay text-center"><h3>Hey there you!</h3></div></div>

</div>

